.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.top {
  text-align: center;
  font-family: font-family: 'EB Garamond', serif;
}
.g-col-6 {
  margin-top: 50px;
}
.caption {
  margin-top: 10px;
}
.container {
  background-color: white;
}
.title {
  color: #202020;
  font-size: 50px;
  font-family: font-family: 'EB Garamond', serif;
  margin: 30px;
}
.btn:hover {
  color: rgb(200, 255, 71);
}
